<h1>Contacto</h1>
<br>
<br>
<nav class="navbar-inverse navbar-default">

    <table>
    <tr>
      <td><%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></td>

          <td><%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></td>

          <td><%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></td>

          <td><%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></td>
      </tr>
    </table>
  </nav>

<br>
<br>
<br>
<br>
<h2>Nos encontramos:</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.195698454598!2d-70.66866484952635!3d-33.52229720849417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dae3229d34f7%3A0xa48f177dde0fc86d!2sAv.+Fern%C3%A1ndez+Albano+565%2C+La+Cisterna%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1447628614073" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<br>
<br>
<h2>Enviamos un email: </h2>
<a href="mailto:diego1@gmail.com?">Enviar mail.</a>
<br>
<br>
<br>
<br>
<br>