<h1>Productos</h1>
<br>
<br>
<nav class="navbar-inverse navbar-default">
    <table>
		<tr>
			<td><%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></td>
	    </tr>
	</table>
</nav>
<br>
<br>
<br>
<br>


<h2>Nuestra gama de productos:</h2>



