<h1>Productos</h1>
<br>
<br>
<nav class="navbar-inverse navbar-default">
<table>
<div class="row">
    <div class="col-md-3">
      <%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></div>
    <div class="col-md-3">
        <%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></div>
    <div class="col-md-3">
        <%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></div>
    <div class="col-md-3">
        <%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></div>
    </div>
</div>
</table>
</nav>
<br>
<br>
<br>
<br>


<h2>Nuestra gama de productos:</h2>



