
<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
<style>
body{background:#01DF3A;
font-size:20px;
color:black;
padding:20px;
border:6px solid white;}
h1{color:white;}
</style>
</head>
<body>
<h1>ADMINISTRADOR</h1>

<br>

<ul>
<li><a href="http://localhost:3000/clientes">Listado clientes</a></li>
<br>
<li><a href="http://localhost:3000/materia">Listado materia</a></li>
<br>
<li><a href="http://localhost:3000/productos">Listado producto</a></li>
<br>
<li><a href="http://localhost:3000/categoria">Listado categoria</a></li>
</ul>

</body>
</html>
