
<!DOCTYPE html>
<html>
<head>

  <h1>Página Principal</h1>
  <br>
  <br>

</head>
<body>

	<nav class="navbar-inverse navbar-default">
		<table>
		<tr>
			<td><%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></td>

	        <td><%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></td>

	    </tr>
	    </table>
	</nav>

<br>
<br>
<br>
<br>
	<h2>Misión: </h2>
	<p></p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h2>Visión: </h2>

 </body>
 
 </html>
 