
<!DOCTYPE html>
<html>
<head>

  <h1>Página Principal</h1>
  <br>
  <br>

</head>
<body>

<nav class="navbar-inverse navbar-default">
	<table class="second">
	<tr>
	<td class="first">
	<td><%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></td>

        <td><%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></td>

        <td><%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></td>

        <td><%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></td>
    </td>
    </tr>
    </table>
</nav>

<br>
<br>
<br>
<br>
	<h3>Misión:<h3><h2>Entregar la mejor calidad, servicio y precios de mercado. Para ello enfocaremos 		nuestro trabajo en un mejoramiento continuo con los servicios prestados hacia ellos y así dar respuesta 	real y satisfactoria a sus requerimientos. </h2>
	<p></p>
	<br>
	<h3>Visión:<h3><h2>Convertirnos en aliados estratégicos de nuestros clientes, basados en nuestra 		capacidad de ser una empresa altamente flexible y proactiva y que experimente un crecimiento sostenido 		en el tiempo. </h2>

 </body>
 
 </html>
 
