<div class="page-header">
  <h1>Página Principal</h1>
</div>

<nav class="navbar-inverse navbar-default">
	<tr>
        <td><%= link_to "clientes",{ controller: "clientes"}, class: "btn btn-lg "%></td>
    </tr>
</nav>