<div class="page-header">
  <h1>Página Principal <small>Subtext for header</small></h1>
</div>

<nav class="navbar navbar-default">
	<tr>
        <td><%= link_to "clientes",{ controller: "clientes"}, class: "btn btn-lg btn-success"%></td>
    </tr>
</nav>