
<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
<title>Mi Primera Pagina</title> 
<style>   
body{background:#01DF3A; 
font-size:20px; 
color:black; 
padding:20px; 
border:6px solid white;} 
h1{color:white;}
</style>  
</head> 
<body> 
<h1>FECCI</h1> 


<center><img src="agro.jpg"></center>  

<br>  

<p>Esta es una pagina web sobre una mini empresa para la crecion de productos</p> 
 
<ul>
<center><table>
<tr>
<td><a href="http://localhost:3000/clientes">Listado clientes</a></td> 
<td><a href="http://localhost:3000/materia">Listado materia</a></td>  
<td><a href="http://localhost:3000/productos">Listado producto</a></td> 
<td><a href="http://localhost:3000/about/index">Acerca de </a></td>
</tr>
</table></center>
</ul> 
 
</body>  
</html>
