
<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
<style>
body{background:#01DF3A;
font-size:20px;
color:black;
padding:20px;
border:6px solid white;}
h1{color:white;}
</style>
</head>
<body>
<h1>FECCI</h1>

<<<<<<< HEAD

<center><img src="agro.jpg"></center>  

<br>  

<p>Esta es una pagina web sobre una mini empresa para la crecion de productos</p> 
 
<ul>
<center><table>
<tr>
<td><a href="http://localhost:3000/clientes">Listado clientes</a></td> 
<td><a href="http://localhost:3000/materia">Listado materia</a></td>  
<td><a href="http://localhost:3000/productos">Listado producto</a></td> 
<td><a href="http://localhost:3000/about/index">Acerca de </a></td>
</tr>
</table></center>
</ul> 
 
</body>  

<img src="../home/paola/RubyFecci/app/views/welcome/agro.jpg" alt="ficha" marginheight="75" marginwidth="75">
<img src="agro.jpg">
=======
<img src="agro.jpg" alt="ficha" marginheight="75" marginwidth="75">

>>>>>>> 517ea428cdc1203d9455f0b72da92925b69a6b1a
<br>

<p>Esta es una página web sobre una mini empresa para la crecion de productos</p>

<ul>
<br>
<li><a href="http://localhost:3000/productos">Listado producto</a></li>
<br>
<li><a href="http://localhost:3000/about/index">Acerca de </a></li>
<br>
<br>
<br>
<li><a href="http://localhost:3000/admin/index">Administrador </a></li>

</ul>



</body>

</html>
