<h1>Acerca de nosotros </h1>

<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
<title>Mi Primera Pagina</title> 
<style>   
body{background:#b7e5ff; 
font-size:20px; 
color:black; 
padding:20px; 
border:6px solid white;} 
h1{color:red;}
</style>  
</head> 
<body> 
<li><a href="http://localhost:3000">Volver a pagina principal</a></li> 
</body>  
</html>


