<h1>Acerca de nosotros </h1>

<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=windows-1252">
<style>   
body{background:#b7e5ff; 
font-size:20px; 
color:black; 
padding:20px; 
border:6px solid white;} 
h1{color:red;}
</style>  
</head> 
<body> 
<p>Es una microempresa chilena formada a mediados de septiembre de 2015 que se dedica a la fabricación y comercialización de productos orientados a las áreas de Construcción, Minería, Celulosa, Abonos y Papel, entre otros.</p> 
 
<li><a href="http://localhost:3000">Volver a pagina principal</a></li> 
</body>  
</html>


