$navbar-default-bg: #FFFFFF;
$light-orange: #eeeeee;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover{
    color: white;
    text-decoration: none;
}

body{
    height:100%;
    padding-top: 20px;
}

.nav_item{
    margin-left: 25px;
    float: left;
    margin-top: 20px;
}

.center{
    text-align: center;
}

h1, h2, h3, h4{
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    color:white;
}

h2{
    font-size: 1.5em; 
    margin-bottom: 30px;
    font-weight: normal;
    color: #777;
    text-align: justify;
}


/*Tablas*/
table{
    font-size: 15px;
    line-height: 20px;
    padding-right: 40px;
    text-align: justify;
    vertical-align: top;
    width: 30%;
    border-collapse: separate;
    border-spacing: 10px;
    background-color:white;
}


.row{
    text-align: center;
}


/* caracteristicas de los parrafos*/
p{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 400px;
}


/* Imagenes */
img
{
    position: relative;
    top:auto;
    left: auto;
    margin: 0 auto;
    horizontal-align:middle;
    line-height:100px;
}

 

/* Para el pie de pagina*/
#wrapper {
    min-height: 100%;
    position: relative;
}
 
#contento {
    padding-bottom: 90px; /* El tamaño del footer para evitar el sobreposicionamiento */
}
 
#footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color:#008B8B;
    text-align:center;
    line-height: 60px;
}



/* menu home2 */ 

  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 5em;
    padding-bottom: 12px;
  }



/* Email */

.main {width:980px;padding:0;margin:0 auto;font-size:0.875em;line-height:1.428em}
.col-1, .col-2{float:left}
.wrapper {width:100%;overflow:hidden}
.indent-left {padding-left: 20px}
.button {
    display:inline-block;
    padding:0 24px;
    margin-left:2px;
    margin-bottom:2px;
    font-size:14px;
    line-height:38px;
    color:#000;
    border:1px solid #fff;
    background:url(../images/button-tail.gif) 0 0 repeat-x #f2f2f2;
    box-shadow:0 0 2px #bbb;
    cursor:pointer;
}

#content {
    width:100%;
    background-color: white;
    padding:25px 0 42px;
}


/***** contact form *****/
#contact-form {
    position:relative;
    vertical-align:top;
    width:100%;
    z-index:1;
    }
    #contact-form fieldset {
        border:none;
        padding:0;
        }           
            #contact-form label {
                display:block;
                height:50px;
            }
            
            #contact-form input {
                width:323px;
                padding:12px 20px;
                margin:0;
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
                line-height:1.214em;
                color:#808080;
                border:1px solid #e6e6e6;
                background:#fff;
                outline:none;
            }
            #contact-form textarea {
                overflow:auto;
                height:130px;
                width:563px;
                padding:12px 20px;
                margin:0;
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
                line-height:1.214em;
                color:#808080;
                border:1px solid #e6e6e6;
                background:#fff;
                outline:none;
            }
        .buttons-wrapper {padding:18px 0 0 0;text-align:right}
        .buttons-wrapper a {margin-left:15px}


/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color:#008B8B;
    border-radius:20px;
    padding: 5px; /* dar margen desde el borde espacio al centro*/
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}


/* margenes de quienes somos*/
#marginn{
    margin-top: 10px; 
    margin-right:10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
}